<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/">Tutor Platform</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {{#ifCond role 'tutor'}}
        <a class="nav-link" href="/tutors/{{id}}">{{name}}</a>
        {{else}}
        <a class="nav-link" href="/user/{{id}}">{{name}}</a>
        <a class="nav-link" href="/tutors/apply">成為老師</a>
        {{/ifCond}}
      </div>
    </div>
    <a href="/logout" class="me-5"> <i class="fa-solid fa-right-from-bracket me-1"></i>Logout</a>
  </div>
</nav>