{{> header}}
{{> messages}}

{{!-- cards --}}
<div class="d-flex justify-content-between p-5">
  <div class="col-md-9">
    {{!-- search bar --}}
    <form class="d-flex mx-auto col-md-6 mb-4" action="/tutors">
      <input class="form-control me-2" type="search" placeholder="請輸入老師名稱或課程名稱" aria-label="Search"
        style="border-color:#013D5A;" name="keywords">
      <button class="btn button" type="submit">Search</button>
    </form>
    <div class="row">
      {{#ifCond results '查詢無結果，請輸入其他關鍵字'}}
        <p class="d-flex justify-content-center mt-3" ><strong class="me-1">{{keywords}}</strong> 查詢無結果，請輸入其他關鍵字</p>
      {{else}}
        {{#each results}}
        <div class="col-md-4">
          <div class="card m-2 tutor-card px-0">
            <div class="card-body">
              <div class="d-flex">
                  <img src="{{#if this.user.image}}{{this.user.image}}{{else}}https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ12lYNi9ON02p9zySLVYzHFAkvMdJtDiT2oA&s{{/if}}" class="index-img" style="width: 30%;" alt="tutor-photo">
                <div class="ms-3 flex-column">
                  <a href="/tutors/{{this.user.id}}/profile">
                    <h5 class="card-title">{{this.courseName}}</h5>
                  </a>
                  <h6>{{this.user.name}}</h6>
                </div>
              </div>
              <p class="card-text mt-3">{{this.introduction}}</p>
            </div>
          </div>
        </div>
        {{/each}}

        <div class="d-flex justify-content-center mt-4">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
                <a class="page-link" href="/tutors?page={{pagination.prev}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{#each pagination.pages}}
              <li class="page-item"><a class="page-link" href="/tutors?page={{this}}">{{this}}</a></li>
              {{/each}}
              <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
                <a class="page-link" href="/tutors?page={{pagination.next}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      {{/ifCond}}

    </div>
  
  </div>
  <div class="col-md-2 st-rank">
    <h4 class="d-flex justify-content-center" style="color: #708c69; font-weight:500"><i class="fa-solid fa-crown me-2"></i>學習時數排行</h4>
      {{#each rankings}}
        <div class="card m-2 " >
          <div class="card-body p-1">
            <div class="d-flex">
              <img src="{{this.student.image}}" class="col-md-4 index-img" alt="student-photo">
              <div class="flex-col ms-2">
                <h6 class="card-title">{{this.student.name}}</h6>
                <p>{{this.totalDuration}} 小時</p>
              </div>
            </div>
            
          </div>
        </div>
      {{/each}}
    </div>
</div>


