{{>header}}
{{> messages}}
<div class="container">
  <div class="row justify-content-between">
    <div class="mt-3 col-md-8">
      <div class="d-flex">
        <img src="{{user.image}}" class="profile-img" alt="student-photo">
        <div class="flex-column ms-5">
          <h3 class="my-3">{{user.tutorInfo.courseName}}</h3>
          <ul>
            <li>{{user.name}} 老師</li>
            <li><i class="fa-solid fa-star me-1" style="color: #f4a258;"></i>評分</li>
            </ui>
        </div>
      </div>
    
      <div class="container mt-5 tutor-profile flex-column">
        <h5>自我介紹</h5>
        <p>{{user.aboutMe}}</p>
        <h5>教學風格</h5>
        <p>{{user.tutorInfo.teachingStyle}}</p>
        <h5>課程內容</h5>
        <p>{{user.tutorInfo.introduction}}</p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="mt-3 mb-3">
        <h5 style="font-weight: 600; background-color:#fcf3e3; display:inline-block;">預約課程</h5>
        <form id="appointmentForm">
          <label for="appointmentDate" class="form-label">預約日期</label>
          <select class="form-select form-select-sm mb-3" name="appointmentDate" id="appointmentDate" required>
            <option selected>請選擇日期</option>
          </select>
          <label for="courseTime" class="form-label">預約時段</label>
          <select class="form-select form-select-sm" name="courseTime" id="courseTime" required>
            <option selected>請選擇時段</option>
          </select>
          <button type="submit" class="btn button mt-3">確認預約</button>
        </form>
      </div>
    </div>

  </div>
</div>

{{>appointment-result-modal}}
<script type="module">
  import { getDynamicSlots } from '/javascripts/getDynamicSlots.js'
  import { appointmentResult } from '/javascripts/appointmentResult.js'
  getDynamicSlots('{{{availableTimeSlots}}}')
  appointmentResult('{{{user.id}}}')
</script>