{{>header}}
{{> messages}}
<div class="container col-md-9 mt-4">
  <div class="row">
    <div class="col-md-3">
      <img src="{{user.image}}" class="profile-img" style="width: 70%;" alt="profile-photo">
      <h3 class="mt-5">{{user.name}}</h3>
      <p>評分</p>
      <h6 style="font-weight: 600;">自我介紹</h6>
      <p>{{user.tutorInfo.aboutMe}}</p>
    </div>
    <div class="col-md-9">
      <h6>Course Appointments</h6>
      <h6>教學風格</h6>
      <p>{{user.tutorInfo.teachingStyle}}</p>
      <h6>學生回饋</h6>
      <a href="/tutors/{{user.id}}/edit" class="btn mt-4" style="background-color: #708c69; color:white;">編輯資料或可預約時段</a>
    </div>
  </div>
</div>